extends default

block content
  section.section
    .container.has-text-centered
      .hero.is-medium
        .hero-body
          p.title Welcome!
          p.subtitle Please log in to continue.
          a.button.is-link.is-large(href="/auth/github")
            span Login with GitHub
